* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

body {
    background-position: center;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/27/11/59/pokemon-1624022__340.jpg');
    /* background-image: url('https://cdn.pixabay.com/photo/2016/08/14/14/58/pokemon-1593048__340.jpg') */
}

.game {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 1500px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Menu */

.menu {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Rubik Bubbles', cursive;
}

.menu>div {
    margin-bottom: .5em;
    text-align: center;
    font-size: 50px;
    padding: .5em;
    position: relative;
    border: medium solid #fff;
    color: #fff;
    transition: .5s;
}

.menu>div:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}


/*  */

.root {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    height: 100%;
}

.card {
    position: relative;
    overflow: hidden;
}

.image-item {
    backface-visibility: hidden;
    transition: .5s;
    height: 100%;
}

.image-front {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: invert(100%);
}

.image-item img {
    height: 100%;
    object-fit: cover;
    border: medium solid yellow;
}

.image-front {
    transform: rotateY(0deg);
}

.image-backside {
    transform: rotateY(180deg);
}

.card.active .image-front {
    transform: rotateY(-180deg);
}

.card.active .image-backside {
    transform: rotateY(0deg);
}


/* Lock: active when 2 card same */

.card:active {
    cursor: pointer;
}

.card.lock .image-item {
    box-shadow: 0 0 100px 5px lime;
}

.card.lock .image-front {
    transform: rotateY(-180deg) !important;
}

.card.lock .image-backside {
    transform: rotateY(0deg) !important;
}


/* Responsive */

@media (max-width:800px) {
    .root {
        grid-template-columns: repeat(4, auto);
        gap: 5px;
    }
    .image-item img {
        border: thin solid yellow;
    }
    .menu>div {
        font-size: 30px;
    }
}
